[Unit]
Description=Medspace - {{ medspace_rails_env }}
Requires=network.target

[Service]
EnvironmentFile=/etc/default/medspace.env
User={{ medspace_user }}
Group={{ medspace_user }}
Type=simple
WorkingDirectory=/srv/medspace
ExecStart=/usr/bin/bash -lc "bin/rails server -b 'ssl://0.0.0.0:3000?key=tmp/medspace.key&cert=tmp/medspace.crt'"

[Install]
WantedBy=multi-user.target