
        <h2><%= t('hyrax.homepage.admin_sets.title') %></h2>
        <%# render 'explore_collections' %>
        List of Public collections here
        <table class="table table-striped collection-highlights">
          <tbody>
            <% @collection.each do |collection|  %>
            <tr>
              <td><%= link_to collection.title.first, collection %><br/>
              <%= collection.description.first %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
