
    <div class="tab-pane active" id="tab-col2-first">
      <!-- h2 align="center"><%= t('hyrax.homepage.admin_sets.title') %></h2 -->
      <%= render 'explore_collections', collections: @presenter.collections %>
    </div>
