<% provide :page_title, application_name %>

<h2 align="center">MEDSpace</h2>
<p align="center">Welcome to MEDSpace, the Duke Medical Center Library & Archives digital repository</p>
<div class="row home-content">
  <%= render 'home_content' %>
</div>
