<div class="row row-flex row-flex-wrap  mine homepage-content">
    <div class="lstop home-button">
        <div class="lsl">
             <a href="catalog?f[human_readable_type_sim][]=Collection&f[keyword_sim][]=Image+Collection&locale=en">
                <h2>Image Collections</h2>
                <p>Selected images documenting the history of medicine through time and at the Duke Medical Center from its founding in 1930</p>
            </a>
        </div>
        <div class="lsr">
          <img src="assets/00837.png"/>
        </div>
    </div>
    <div class="rstop home-button">
        <div class="rs1">
            <a href="catalog?f[human_readable_type_sim][]=Collection&f[keyword_sim][]=Duke+Publication&locale=en">
            <h2>Duke Medical Center Publications</h2>
            <p>Departmental and program-wide newsletters and reports</p>
        </a>
        </div>
        <div class="rs2">
        </div>
    </div>
</div>
