image: docker:git

stages:
  - mirror
  - build
  - publish
  - deploy

variables:
  CONTAINER_IMAGE: $CI_REGISTRY/mclibrary/medspace
  FCREPO_IMAGE: $CI_REGISTRY/mclibrary/medspace/fcrepo
  SOLR_IMAGE: $CI_REGISTRY/mclibrary/medspace/solr

services:
  - docker:dind

before_script:
  - docker info
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY

github-mirror:
  stage: mirror
  allow_failure: true
  script:
    - cd /tmp
    - git clone --bare $CI_REPOSITORY_URL
    - cd medspace.git
    - git push --mirror https://$GITHUB_TOKEN@github.com/dumclibrary/medspace.git

develop-image:
  stage: build
  only:
    - develop
  script:
    - docker build -t $CONTAINER_IMAGE:develop .
    - docker push $CONTAINER_IMAGE:develop

fcrepo-develop-image:
  stage: build
  only:
    - develop
  script:
    - docker build -t $FCREPO_IMAGE:develop docker-fcrepo
    - docker push $FCREPO_IMAGE:develop

solr-develop-image:
  stage: build
  only:
    - develop
  script:
    - docker build -t $SOLR_IMAGE:develop solr
    - docker push $SOLR_IMAGE:develop

release-image:
  stage: publish
  only:
    - master
  script:
    - docker pull $CONTAINER_IMAGE:develop
    - docker tag $CONTAINER_IMAGE:develop $CONTAINER_IMAGE
    - docker push $CONTAINER_IMAGE

fcrepo-release-image:
  stage: publish
  only:
    - master
  script:
    - docker pull $FCREPO_IMAGE:develop
    - docker tag $FCREPO_IMAGE:develop $FCREPO_IMAGE
    - docker push $FCREPO_IMAGE

solr-release-image:
  stage: publish
  only:
    - master
  script:
    - docker pull $SOLR_IMAGE:develop
    - docker tag $SOLR_IMAGE:develop $SOLR_IMAGE
    - docker push $SOLR_IMAGE

deploy-develop:
  before_script:
    - eval $(ssh-agent -s)

    - ssh-add <(echo "$SSH_PRIVATE_KEY")

    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo "$SSH_SERVER_HOSTKEYS" > ~/.ssh/known_hosts'
  image: mravenel/alpine
  stage: deploy
  #only:
  # - develop
  script:
    - ssh deploy@dev-medspace.mc.duke.edu "sudo /home/share/appdata/dev-medspace/update.sh"