image: docker:git

stages:
  - mirror
  - test
  - build
  - deploy

variables:
  MEDSPACE_IMAGE: $CI_REGISTRY/mclibrary/medspace
  FCREPO_IMAGE: $CI_REGISTRY/mclibrary/medspace/fcrepo
  SOLR_IMAGE: $CI_REGISTRY/mclibrary/medspace/solr

github_mirror:
  stage: mirror
  allow_failure: true
  script:
    - cd /tmp
    - git clone --bare $CI_REPOSITORY_URL
    - cd medspace.git
    - git push --mirror https://$GITHUB_TOKEN@github.com/dumclibrary/medspace.git

#test:
#  image: $CI_REGISTRY/mclibrary/medspace
#  services:
#    - $CI_REGISTRY/mclibrary/medspace/solr
#    - $CI_REGISTRY/mclibrary/medspace/fcrepo
#  variables:
#    FCREPO_URL: http://$CI_REGISTRY-mclibrary-medspace-fcrepo:8080
#    SOLR_URL: http://$CI_REGISTRY-mclibrary-medspace-solr:8983/solr/medspace
#  script:
#    - bundle install
#    - bundle exec rspec

medspace_build:
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build -t $MEDSPACE_IMAGE .
    - docker push $MEDSPACE_IMAGE
  only:
    - master

fcrepo_build:
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build -t $FCREPO_IMAGE docker-fcrepo
    - docker push $FCREPO_IMAGE
  only:
    - master

solr_build:
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build -t $SOLR_IMAGE solr
    - docker push $SOLR_IMAGE
  only:
    - master

deploy_staging:
  before_script:
    - eval $(ssh-agent -s)

    - ssh-add <(echo "$SSH_PRIVATE_KEY")

    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo "$SSH_SERVER_HOSTKEYS" > ~/.ssh/known_hosts'
  image: mravenel/alpine
  stage: deploy
  only:
    - master
  script:
    - ssh deploy@dev-medspace.mc.duke.edu "sudo /home/share/appdata/dev-medspace/update.sh"
  environment:
    name: staging
    url: https://dev-medspace.mc.duke.edu