  /* --------------------
      Homepage Styles
  ----------------------- */


  .homepage #main-container .container {
    width: 100%;
  }

  .homepage-wrapper {
    margin: -21px -6px 21px -6px;
  }

  .homepage-full {
    position: relative;
  }


  .homepage-feature {
    background-image: url('bld00027.png');
    background-size: cover;
    min-height: 24em;
  }

  .homepage-intro {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 30px !important;
    position: absolute;
    border-radius: 8px;
    top: 120px;
    right: 20px;
    margin-left: 20px;
  }

  .homepage-intro h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
  }

  .homepage-intro p {
    font-size: 22px;
    line-height: 1.2;
  }

  .homepage-intro p a {
    color: #e3e3e3;
    font-weight: strong;
  }

  .homepage-intro p:last-of-type {
    border-top: 1px solid rgba(255,255,255,.25);
    margin-top: 1em;
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .homepage-intro p:last-of-type a {
    font-size: 75%;
  }

  .homepage-intro .btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homepage-full .lead {
    text-align: center;
    border-bottom: 1px dotted #e3e3e3;
    padding-bottom: 1em;
    padding-top: .5em;
  }

  .home-mission p {
    line-height: 1.2;
    margin-top: .25em;
    margin-bottom: 1em;
  }

  .home-mission .btn {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .homepage-content {
    margin:
    margin-top: 21px;
    padding: 0 10px 0 10px;
    margin-bottom: -20px;
  }

  .homepage-content .home-button {
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: rgba(7,54,164,.85);
    border-radius: 8px;
    margin-bottom: .5em;

  }

  .homepage-content .home-button:hover {
    background: rgba(7,54,164,1);
  }

  .homepage-content .home-learn {
    padding: 20px 20px 0 20px;
    text-align: center;
  }

  .homepage-content .home-learn .btn {
    width: 85%;
    font-size: 125%;
  }

  .homepage-content .home-learn p {
    color: #999;
    padding-top: .25em;
    padding-right: 1em;
    padding-left: 1em;
    line-height: 1.1;
  }

  .homepage-content a,
  .homepage-content a:hover,
  .homepage-content a h2,
  .homepage-content a p,
  .homepage-content a:hover h2,
  .homepage-content a:hover p {
    text-decoration: none;
  }

  .homepage-content h2,
  .homepage-content p {
    color: #fff;
  }

  .homepage-content h2 {
    margin-top: 0;
    font-size: 1.85em;
    font-weight: bold;
    margin-bottom: 0;
  }

  .homepage-content .home-button p {
    font-size: 1.2em;
    font-style: italic;
    margin-top: .5em;
    border-top: 1px dotted rgba(255,255,255,.25);
    padding-top: .75em;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .homepage-content p.description {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    line-height: 1.2;
    color: #999;
    text-align: center;
    padding-left: .25em;
    padding-right: .25em;
  }


  @media screen and (min-width: 992px) {

    .home-mission .btn {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .homepage-content .home-button {
      min-height: 210px;
    }

    .homepage-full .lead {
      margin-left: 10%;
      margin-right: 10%;
    }

  }

  @media screen and (min-width: 1200px) {

    .homepage-content .home-button {
      min-height: 160px;
    }

    .homepage-full .lead {
      margin-left: 20%;
      margin-right: 20%;
    }

  }

  /* Testing below here */

  .mine  div.lstop { 
    position: relative;
    /*  */
    color: #999;
    
  }

  .lstop1 {
    width: 48%;
    float: left;
    margin: auto;
    height: 480px;
  }

  .lstop2 {
    width: 48%;
    float: left;
    margin: auto;
    height: 300px;
  }

  .rstop {
    width: 48%;
    float: right;
  }

  .lsl {
    width: 45%;
    float: left;
    padding-left: .25em;
    border-radius: 8px;
  }
  .lsr {
    width: 45%;
    float: right;
    padding-right: .4em;
    border-radius: 8px;
  }
  .rs1 {
    
    width: 45%;
    float: left;
    padding-left: .25em;
    padding-right: .25em;
    border-radius: 8px;
    margin-bottom: 2em;
  }

  .rs2 {
    
    width: 45%;
    position: relative;
    float: right;
    padding-left: .25em;
    padding-right: .25em;
    border-radius: 8px;
  }
