/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';

#bottom { margin: auto; }

.file_listing_thumbnail_local {
}

.background-container-gradient-local {
  @include masthead-background-containers();
}

.background-container-local {
  @include masthead-background-containers();
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}
