/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap-default-overrides";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';

#bottom { margin: auto; }

.file_listing_thumbnail_local {
  max-width: 200px;
  max-height: 200px;
}

.file_listing_thumbnail_local img {
  max-width: 200px;
  max-height: 200px;
}
.list-thumbnail-localc  {
  width: 30%;
  float: left;
  max-width: 200px;
  max-height: 200px;
  padding-bottom: 200px;
}

.list-thumbnail-localc img {
  max-width: 200px;
  max-height: 200px;
}

.list-thumbnail-local {
  width: 30%;
  float: left;
  max-width: 125px;
  max-height: 125px;
  padding-bottom: 200px;
}

.list-thumbnail-local img {
  max-width: 125px;
  max-height: 125px;
}
.background-container-gradient-local {
  @include masthead-background-containers();
}

.background-container-local {
  @include masthead-background-containers();
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}
tr.lbw td.lbw
{
    background-color: #f2f2f2;
}

tr.lbw:nth-child(even) td.lbw:nth-child(odd),
tr.lbw:nth-child(odd) td.lbw:nth-child(even)
{
    background-color: #ffffff;

}
.my-td {
  width: 30%;
  padding: 15px;
}
